.ant-carousel{
	font-size:16px
}
.ant-carousel .slick-slider {
  width:100%;
  text-align: center;
  height: .45rem;
  line-height: .45rem;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
	color: #fff; 
}

.ant-carousel .slick-dots li button{
	width:10px
}
.ant-carousel .slick-dots li.slick-active button {
    width: 10px;
}
.ant-carousel .slick-dots{
	margin-bottom:-.08rem
}
.tc-img img{
	width:30px;
	height:30px
}

.product-info{
	font-size:16px
}



